/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #ffffff;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: #000;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


.logo {
    color: #f38989;
    font-size: 1.5rem;
    font-weight:bold;
}

.cursive {
    font-family: 'Brush Script MT', cursive;
    font-size: 2rem;
    color: #f38989;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: relative;
    transition: color 0.3s;
}

nav a:hover {
    color: #f38989;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #f38989;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

.full-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.slider {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display:block;
    transition: transform 0.5s;
}

.product-card {
    background-color: white;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 300px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-info {
    text-align: center;
    margin-top: 10px;
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
}

.colored-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: white;
}

.about-container {
    display: flex;
    max-width: 1200px;
    background-color: #d3d3d3;
    padding: 2rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.about-text {
    flex: 1;
    padding: 1rem;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.service-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.service-item {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service-item:hover {
    transform: scale(1.05);
}

.book-container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    margin: auto;
    text-align: center;
}

.book-form input, .book-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.book-form button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.book-form button:hover {
    background-color: #333;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 800px;
    padding: 2rem;
}

.contact-info-card, .feedback-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.feedback-card:hover, .contact-info-card:hover {
    transform: scale(1.02);
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact-icon {
    width: 24px;
    height: 24px;
}

.emoji-rating {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.emoji {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.emoji:hover {
    transform: scale(1.2);
}

.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.feedback-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.send-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #333;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cancel-button:hover {
    background-color: #999;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #333;
}

footer {
    background-color: #000;
    color: white;
    padding: 1rem;
    text-align: center;
}

.faq-item {
    background-color: #eaeaea;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    /* transition: all 0.3s; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-item:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.faq-answer {
    margin-top: 0.5rem;
    display: none;
}

@media (max-width: 768px) {
    .about-container, .contact-container {
        flex-direction: column;
        text-align: center;
    }

    .service-list {
        grid-template-columns: 1fr;
    }
}